[package]
name = "openai-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hyper = { version = "0.14.25", features = ["http2", "client", "stream"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.95"
